{% extends "index.twig" %}

{% block nav %}
{% endblock %}

{% block main %}
  <h1 class="text-center superbig">500.</h1>
  
  <p class="text-center lead">
    Something went terribly wrong behind the scenes. Probably one of the services our site relies on stopped working correctly.
  </p>
  
  {% if error %}
    <p class="text-center lead">
      {{ error }}
    </p>
  {% endif %}
  
  <p class="text-center lead">
    <b><a href="{{ pages.music.name }}">Return to the home page</a></b>
  </p>
{% endblock %}