{% extends "index.twig" %}

{% block main %}
  <h2>About me</h2>
  
  <p>I'm <b>Dennis Dekker</b>, born in 1995 in Kerkrade and currently living in Hilversum.</p>
  <p>In my younger years I already started playing with music and technology. In 2001 I became a member of the <a target="_blank" href="http://www.kerkraadsfanfareorkest.nl/">brass band of Kerkrade</a>, where I played the flugelhorn for about twelve years.</p>
  <p>During my musical education I learnt how music was written down and how to do it myself using notation software and when I was 8 years old I composed my <a target="_blank" href="{{ assets }}/music/first.mp3">first musical piece</a>. Years passed and my interests shifted from orchestral music towards electronic music. In 2011 I produced my first electronic track using FL Studio.</p>
  <p>Since late 2016 I'm attending the Music and Technology study at the <a target="_blank" href="https://www.hku.nl/Home/Education/Bachelors/BachelorsDutch/MusicAndTechnology.htm">Utrecht University of Arts (HKU)</a>, where I specialize in composition and creative system design. I hope to graduate as Bachelor of Music in 2020.</p>

  <div class="card">
    <img class="card-img" src="{{ assets }}/images/about.png">
  </div>
{% endblock %}